<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>{{ title }}</h1>
    <form>
        <label for="labelFibonum" class="form-label">{{ fibolabel }}</label>
        <input type="text" class="form-control" id="inputFibonum">
    </form>
    <div id="fiboVal"></div>

    <script src="/fibocalc.js"></script>
</body>
</html>